<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title></title>

    <title>스마트 과학관</title>

    <link href="{{url_for('static', filename='css/common.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/index.css')}}" rel="stylesheet" type="text/css">
    <script src="{{url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
    <script>
        document.onload = function(){
            console.log('{{uuid}}');
        }
    </script>

</head>

<body>
    <div class="wrap">
        <div class="utill">
            <h2>현재위치</h2>
        </div>
        <nav>
            <ul>
                <li class="active">
                    <a href="/main">
                        <img src="{{url_for('static', filename='images/nav01.svg')}}" class="disable">
                        <img src="{{url_for('static', filename='images/nav01_on.svg')}}" class="on">
                        <p>홈</p>
                    </a>
                </li>
                <li>
                    <a href="/current_location">
                        <img src="{{url_for('static', filename='images/nav02.svg')}}" class="disable">
                        <img src="{{url_for('static', filename='images/nav02_on.svg')}}" class="on">
                        <p>현재위치</p>
                    </a>
                </li>
                <li>
                    <a href="/preview">
                        <img src="{{url_for('static', filename='images/nav03.svg')}}" class="disable">
                        <img src="{{url_for('static', filename='images/nav03_on.svg')}}" class="on">
                        <p>관람</p>
                    </a>
                </li>
                <li>
                    <a href="/event">
                        <img src="{{url_for('static', filename='images/nav04.svg')}}" class="disable">
                        <img src="{{url_for('static', filename='images/nav04_on.svg')}}" class="on">
                        <p>이벤트</p>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="current utillPage naviPage">
            <div class="map">
                <div>
                    <img src="{{url_for('static', filename='images/map.jpg')}}">
                    <span>현재위치</span>
                </div>
            </div>
            <h5>현재위치는<br><span>1층, 고래와 바다이야기</span>관입니다.</h5>
        </div>
    </div>
</body></html>